<br>
<br>
<br>
<br>
<br>
<!-- Services Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><b>OUR SERVICES</b></h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("construction.jpg", class: "img-responsive img-thumbnail") %>
                    </a>
                    <h3 class="text-center">FINANCIAL ADVISORY</h3>
                </div>
                <div class="col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("project.jpg", class: "img-responsive img-thumbnail") %>
                    </a>
                    <h3 class="text-center">INVESTMENT RESEARCH</h3>
                </div>
                <div class="col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("infrustructural.jpg", class: "img-responsive img-thumbnail") %>
                    </a>
                    <h3 class="text-center">SUBSIDIARY – MILLIONAIRES’ CLUB (MC) </h3>
                </div>
            </div>
        </div>
    </section>
    
    

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>FINANCIAL ADVISORY</h3>
                            <hr class="star-primary">
                            <%= image_tag("construction.jpg", class: "img-responsive img-thumbnail") %>
                            <p>
                            <ul><p>
                                <il>•   Finding strategic partners or investors</il><br>
                                <il>•   Operational Performance Enhancement</il><br>
                                <il>•   Advise businesses on issues of sustainability</il><br>
                                <il>•   Financial modelling and valuation</il><br>
                                <il>•   Business plan development</il><br>
                                <il>•   Mergers and Acquisitions (M&A) advisory</il><br>
                                <il>•   Accounting and Bookkeeping</il><br>
                                <il>•   Budgeting and Financial Planning</il><br> 
                                <il>•   Wealth management (MC)</il></p>
                            </ul>
                            </p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>INVESTMENT RESEARCH</h3>
                            <hr class="star-primary">
                            <%= image_tag("project.jpg", class: "img-responsive img-thumbnail") %>
                            <p>
                            <ul> <p>
                                <il>•   Environmental, Social and Corporate Governance (ESG) Research.<il><br>
                                <il>•   ESG ratings on Listed stocks and Club 100 companies.</il><br>
                                <il>•   Fund of funds (MC)</il></p>
                            </ul>
                            </p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>SUBSIDIARY – MILLIONAIRES’ CLUB (MC)</h3>
                            <hr class="star-primary">
                            <%= image_tag("infrustructural.jpg", class: "img-responsive img-thumbnail") %>
                            <p>Mentoring and growing as many millionaires as possible. At MC, we believe that anybody can be a millionaire regardless of the kind of job that they do.</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
        </div>
    </div>