<br>
<br>
<br>
<!-- Services Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our Services</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("construction.jpg", class: "img-responsive img-thumbnail") %>
                    </a>
                    <h3 class="text-center">FINANCIAL <br> ADVISORY</h3>
                </div>
                <div class="col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("infrustructural.jpg", class: "img-responsive img-thumbnail") %>
                    </a>
                    <h3 class="text-center">OPERATIONAL PERFORMANCE<br>ENHANCMENT </h3>
                </div>
                <div class="col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("business.jpg", class: "img-responsive img-thumbnail") %>
                    </a>
                    <h3 class="text-center">BUSINESS <br>ADVISORY</h3>
                </div>
                <div class="col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("project.jpg", class: "img-responsive img-thumbnail") %>
                    </a>
                    <h3 class="text-center">INVESTMENT <br> RESEARCH</h3>
                </div>
            </div>
        </div>
    </section>
    
    

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>FINANCIAL ADVISORY</h3>
                            <hr class="star-primary">
                            <%= image_tag("construction.jpg", class: "img-responsive img-thumbnail") %>
                            <p>At JEPP DAVIS we help companies find strategic partners or investors and also aid in acurate financial valuation of companies. We develop customised strategic measures for SMEs seeking to gain access to equity capital (Venture Capital, Private Equity and Angel Investors).
                            </p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>OPERATION PERFORMANCE ENHANCEMENT</h3>
                            <hr class="star-primary">
                            <%= image_tag("infrustructural.jpg", class: "img-responsive img-thumbnail") %>
                            <p>Our certified team help businesses penetrate new markets with tailored advice on how to improve operations, increase competitiveness and productivity. We also provide comprehensive & personal accounting and bookkeeping services to help SMEs measure and monitor operations</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>BUSINESS ADVISORY</h3>
                            <hr class="star-primary">
                            <%= image_tag("business.jpg", class: "img-responsive img-thumbnail") %>
                            <p class="text-left">At JEEP DAVIS we advise businesses on issues of;</p>
                            
                            <ul class="text-left">
                                <li>
                                   <p> Sustainability (Environmental, Social and Corporate Governance practices)</p>
                                </li>
                                <li>
                                   <p> Structured Finance (Debt and Equity)</p>
                                </li>
                                <li>
                                   <p> Financial modelling(identify suitable fund structure of growth businesses and provide the right mix)</p>
                                </li>
                                <li>
                                    <p> Business plan development, presentation to investors and business due diligence exercises.</p> 
                                </li>
                            </ul>
                            <br>
                            <p class="text-left">Our advisory services on Mergers and Acquisitions (M&A) for SMEs; provide full assistance in operations such as research of investors and buyers.
                            </p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>INVESTMENT RESEARCH</h3>
                            <hr class="star-primary">
                            <%= image_tag("project.jpg", class: "img-responsive img-thumbnail") %>
                            <p>Our research methods optimize environmental, social and corporate governance research; to provide the insights required for investors and companies to make more informed decision leading to a more just and sustainable global economy. 
                            </p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
        </div>
    </div>