<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Jepp Davis Consult, Ghana's leading business solutions provider.">
  <meta name="author" content="David Adafia">
  <title>Jepp Davis Consult</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  

  <%= stylesheet_link_tag    "/assets/bootstrap.min.css" %>
  <%= stylesheet_link_tag    "/assets/font-awesome.min.css" %>
  <%= stylesheet_link_tag    "/assets/nivo-lightbox.css" %>
  <%= stylesheet_link_tag    "/assets/default.css" %>
  <%= stylesheet_link_tag    "/assets/owl.carousel.css" %>
  <%= stylesheet_link_tag    "/assets/owl.theme.css" %>
  <%= stylesheet_link_tag    "/assets/flexslider.css" %>
  <%= stylesheet_link_tag    "/assets/animate.css" %>
  <%= stylesheet_link_tag    "/assets/style.css" %>
  <%= stylesheet_link_tag    "/assets/defaultc.css" %>
  
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

  <!-- page loader -->
  <div id="page-loader">
    <div class="loader">
      <div class="spinner">
        <div class="spinner-container con1">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
        <div class="spinner-container con2">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
        <div class="spinner-container con3">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- /page loader -->

<%= yield %>
 <!-- Footer -->
    <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">

          <div class="text-center">
            <a href="#intro" class="totop"><i class="pe-7s-angle-up pe-3x"></i></a>

            <div style="display: horizontal">


              <ul>
                <a href="#" ><i class="fa fa-facebook fa-3x"></i></a>
                <a href="#" ><i class="fa fa-twitter fa-3x"></i></a>
                <a href="#" ><i class="fa fa-instagram fa-3x"></i></a>
              </ul>

            </div>
            <p>&copy;Jeppdavis. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
<%= javascript_include_tag "/assets/jquery.min.js" %>
<%= javascript_include_tag "/assets/bootstrap.min.js" %>
<%= javascript_include_tag "/assets/jquery.sticky.js" %>
<%= javascript_include_tag "/assets/slippry.min.js" %>
<%= javascript_include_tag "/assets/jquery.flexslider-min.js" %>
<%= javascript_include_tag "/assets/morphext.min.js" %>
<%= javascript_include_tag "/assets/gmap.js" %>
<%= javascript_include_tag "/assets/jquery.mb.YTPlayer.js" %>
<%= javascript_include_tag "/assets/jquery.easing.min.js" %>
<%= javascript_include_tag "/assets/jquery.scrollTo.js" %>
<%= javascript_include_tag "/assets/jquery.appear.js" %>
<%= javascript_include_tag "/assets/stellar.js" %>
<%= javascript_include_tag "/assets/wow.min.js" %>
<%= javascript_include_tag "/assets/owl.carousel.min.js" %>
<%= javascript_include_tag "/assets/nivo-lightbox.min.js" %>
<%= javascript_include_tag "/assets/jquery.nicescroll.min.js" %>
<%= javascript_include_tag "/assets/custom.js" %>
<%= javascript_include_tag "/assets/contactform.js" %>
</body>
</html>
